// Specific CSS for your home-page

.lien-header {
  display: flex;
  height: 80vh;
  justify-content: space-evenly;
  align-items: flex-start;
  background-size: cover !important;
}

.lien-header-greg{
  display:inline-flex;

}
// .lien-header-contact a {
//   text-decoration: none;
//   color: white;
// }


// .lien-header-contact a:link, a:visited {
//   color: white;
//   padding: 14px 25px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
// }

// .lien-header-contact a:hover, a:active {
//   background-color: red;
// }

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.wrapper-green {
  background: #32908F;
  color: white;
  padding: 2em 0;
}
.wrapper-grey {
  background: #EDEFF0;
  color: #4e4e4e;
}

.wrapper-blue {
  background: #B2DDF7;
  color: #4e4e4e;
}

.container p {
  font-size: 17px;
}

.card-white {
  background: white;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 10px;
  margin: 20px -9px;
  text-align: justify;
  text-justify: inter-word;
}
#header {
  color: #828282;
  padding: 50px;
}
