.footer {
  display: flex;
  justify-content: space-evenly;
}

.wrapper-green {
  background: #32908F;
  color: white;
}

.footer-links {
  font-size: 25px;
  margin-top: 4px;
}

.footer-quote {
  font-size: 15px;
  font-style: italic;
  color: #0d86c3;
  margin-top: 12px;
}

.footer-copyright{
  color: #0d86c3;
  font-size: 10px;
}


.btn-link {
  font-size: 15px;
  margin-top: 4px;
}


