

<div class="footer">
  <div class="footer-links">
<!--     <a href="https://github.com/greggstyle" target="_blank"><i class="fab fa-github"></i></a> -->
    <!--       <a href="https://www.instagram.com/greggstyle/" target="_blank"><i class="fab fa-instagram"></i></a> -->
    <!--     <a href="https://www.facebook.com/greggstyle" target="_blank"><i class="fab fa-facebook"></i></a> -->

<!--     <a href="https://twitter.com/greggstyle" target="_blank"><i class="fab fa-twitter"></i></a>

    <a href="https://www.linkedin.com/in/ghanffou/" target="_blank"><i class="fab fa-linkedin"></i> </a> -->
  </div>
<!--   <div class="footer-contact-form">
<%#= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>

<a href="mailto:greg@gonnected.com?Subject=Hello" target="_blank"><i class="fas fa-at"></i> Contact </a>
  </div> -->
  <div class="footer-quote">
    "always make new mistakes" by Esther Dyson
  </div>
  <div class="footer-copyright">
    <h6> © 2018 by greggy</h6>
  </div>
</div>
