<div class="navbar-gonnected">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532543668/Site%20greg/logo_gonnected_simple.png", height: 50 %>
  <% end %>


<%#= link_to "Menus", menu_path, class: "navbar-wagon-item navbar-wagon-link" %>

<%#= link_to "About", about_path, class: "navbar-wagon-item navbar-wagon-link" %>

<%#= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>




</div>
