
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/greggstyle/image/upload/v1533649362/Site%20greg/joshua-sortino-215039-unsplash.jpg');">
  <div class="banner-content">
    <h1>International digital consultant</h1>
    <p>Helping leveraging the benefits of digital world for start-ups and large retailers</p>
    <!--     <a class="btn btn-primary btn-lg">Contact me</a> -->
  </div>
</div>
<div class="wrapper-color">
  <div class="container">
    <h2> <strong>Digital</strong> experience</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-3">
        <div class="card-white">
          <h3>International</h3>
          <p>
            Europe - USA - Brazil - Ghana <br>
            13 years around the globe for differents projects and company around : <br> E-commerce, business unit or country launch and digital transformation.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-3">
        <div class="card-white">
          <h3>E-commerce</h3>
          <p>
            Creating project from scratch : <br> Warehouse and carrier management, website creation and internal process (supply, content, IT, finance) with great people.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-3">
        <div class="card-white">
          <h3>Junior fullstack dev</h3>
          <p>
            LeWagon Amsterdam<br>
            9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of GOODTRAVEL.APP.
            <br>
            What is a coding bootcamp ? <a href="http://www.slideshare.net/bpapillard/le-wagon-bootcamp-in-ruby-on-rails-html-css-and-javascript"> here</a>
          </p>

        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-md-3">
        <div class="card-white">
         <h3>OmniCommerce</h3>
         <p>
          People > furniture <br>
          We all need to acquire new skills and the key is to train your colleagues. Creating internal digital academy for all colleagues and cross-departments projects to involve all company.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="wrapper-blue">
  <div class="container">
    <h2>A<strong> vida</strong> é maravilhosa</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-3">
          <h3>Sports</h3>
          <p>
          <a href="https://www.psg.fr/" target="_blank">Football</a> <br>
          <a href="https://en.wikipedia.org/wiki/Badminton" target="_blank">Badminton</a> <br>
          <a href="http://www.pingsansfrontieres.org/home-page/" target="_blank">Table Tennis</a> <br>
          <a href="https://running-care.com/" target="_blank">Running</a> <br>
         <a href="http://www.movementsyoga.com/about/" target="_blank">Hot Yoga</a> <br>
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-md-3">
          <h3>Readings</h3>
          <p>
          <a href="http://jugaadinnovation.com/" target="_blank">Jugaad</a> <br>
          <a href="http://sourcesofinsight.com/10-big-ideas-from-the-carpenter/" target="_blank">The Carpenter</a> <br>
          <a href="https://www.amazon.com/Zilch-Power-Business-Nancy-Lublin/dp/B004J8HXT0" target="_blank">Zlich</a> <br>
<!--           <a href="https://www.amazon.com/Everything-Store-Jeff-Bezos-Amazon-ebook/dp/B00BWQW73E" target="_blank">The everything store</a> <br> -->
          <a href="https://www.goodreads.com/book/show/21203494-unthink" target="_blank">Unthink</a> <br>
          <a href="https://en.wikipedia.org/wiki/Good_to_Great" target="_blank">Good to Great</a> <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
